body {
    font-family: 'Poppins', sans-serif;
}

.logo {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    /* font-size: 3vh; */
    color: black;
}

.stretch {
    font-stretch: expanded;
}

.displayArea {
    padding-top: 80px;
}

.modal-backdrop { opacity: .1 !important; }

#body-row {
    margin-left:0;
    margin-right:0;
}
#sidebar-container {
    min-height: 100vh;   
    background-color: #DBD6D6;
    padding: 0;
    padding-top: 60px;
}

/* Sidebar sizes when expanded and expanded */
.sidebar-expanded {
    width: 230px;
}
.sidebar-collapsed {
    width: 60px;
}

/* Menu item*/
#sidebar-container .list-group a {
    height: 50px;
    color: black;
}

#sidebar-container .list-group a:hover {
    height: 50px;
    color: #3479F6;
    cursor: pointer;
}

/* Submenu item*/
#sidebar-container .list-group .sidebar-submenu a {
    height: 45px;
    padding-left: 30px;
}
.sidebar-submenu {
    font-size: 0.9rem;
}

/* Separators */
.sidebar-separator-title {
    background-color: #3479F6;
    height: 35px;
}
.sidebar-separator {
    background-color: #3479F6;
    height: 25px;
}
.logo-separator {
    background-color: #3479F6;    
    height: 60px;
}

/* Closed submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="false"] .submenu-icon::after {
  content: " \f0d7";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}
/* Opened submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="true"] .submenu-icon::after {
  content: " \f0da";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}

.sporSightLogo {
    content: url("../images/SporSight.png");
    background-color: transparent;
    border: none;
    height: 60%;
    width: 50%;
}

.brandLogo:hover {
    cursor: pointer;
    color: #3479F6;
}
